<div id="main">
	<footer id="footer">
    <section>
      <h2 class="page_title">Have You a question?</h2>
			<p> Write to us! </p>
      
			<div class="skinny_wrapper wrapper_padding">
    		<%= form_for @contact do |f| %>
    			<%= f.label :name %>
    			<%= f.text_field :name, required: true %>

    			<br>

    			<%= f.label :email %>
    			<%= f.email_field :email, required: true %>

    			<br>

    			<%= f.label :message %>
    			<%= f.text_area :message, as: :text %>

    			<br>

    			<%= f.submit 'Send Message', class: 'button primary small' %>
    		<% end %>
			</div>
    </section>
    <section class="split contact">
      <section class="alt">
        <h3>Address</h3>
        <p>Mevaer 24<br />
        8094 Fleinvar<br/>
        Norway</p>
      </section>
      <section>
        <h3>Phone</h3>
        <p>+47 477 33 058</p>
      </section>
      <section>
        <h3>Email</h3>
        <p><a href="#">mevaercamp@gmail.com</a></p>
      </section>
      <section>
        
      </section>
    </section>
  </footer>
</div>