<!DOCTYPE html>
<!--
  Massively by Pixelarity
  pixelarity.com | hello@pixelarity.com
  License: pixelarity.com/license
-->
<html>
  <head>
    <title>Mevaer Camp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <%= stylesheet_link_tag 'font-awesome.min', 'main', 'noscript', 'application' %>

    <%= javascript_include_tag 'application', 'jquery.min', 'jquery.scrollex.min', 'jquery.scrolly.min', 'browser.min', 'breakpoints.min', 'util', 'main' %>
  </head>

  <body class="is-preload">
    <%= render 'home/header' %>

    <%= yield %>
    <!-- Copyright -->
          <div id="copyright">
            <ul><li>&copy; Untitled</li></li></ul>
          </div>
  </body>
</html>
